
<h1 id="error"> <%= @error_message %></h1>

<form action="/users" method="post">
  New Username:<input type="text" name="username"><br>
  <p>New Password:<input type="password" name="password"></p>
  <p><input type="submit" value="Register!"></p>
</form>