<h1>This is new user</h1>

<h1>Please Register</h1>

<!--NO LOGIN RB YET-->
<form action="/users" method="post">
  New Username:<input type="text" name="username"><br>
  <p>New Password:<input type="password" name="password"></p>
  <p><input type="submit" value="Register!"></p>
</form>